.bodyContainer {
    padding-top: 10px;
}

.favoritesContainer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: 90%;
    padding: 20px 0 0 0;
    gap: 20px;
}

.favoritesContainer .product-image {
    width: 95%;
    height: 11rem;
    border-radius: 0;
}