.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-bottom: 5px;
  font-size: 14px;
  color: rgb(90, 89, 89);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px rgb(222, 219, 219);
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  background-color: white;
}

.navigation {
  display: grid;
  grid-template-columns: 2fr 16fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0;
  padding: 10px 0 20px 0;
}

.navigation button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation form {
  border: solid black 2px;
  border-radius: 25px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}

.navigation input {
  border: none;
  width: 95%;
  font-size: 16px;
}

.navigation input:focus {
  outline: none;
}

.navigation a {
  color: rgb(255, 115, 0);
  font-size: 35px;
}