@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pacifico&display=swap');

.logged-in-profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px rgb(159, 157, 157) solid;
  background-color: white;
  margin-top: 5px;
  padding: 10px;
  gap: 5px;
  font-size: 16px;
  border-radius: 10px 10px;
}

.not-log-in-profile {
  display: flex;
  flex-direction: row;
  position: absolute;
  border: 1px rgb(159, 157, 157) solid;
  background-color: white;
  margin-top: 5px;
  gap: 20px;
  font-size: 16px;
  border-radius: 10px 10px;
}

.profile-dropdown .signout-button {
  padding-top: 10px;
  font-size: 16px;
  font-family: cursive;
}

.hidden {
  display: none;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-bottom: 5px;
  font-size: 14px;
  color: rgb(90, 89, 89);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px rgb(222, 219, 219);
  width: 100%;
  height: 110px;
  top: 0;
  background-color: white;
}

.navigation {
  display: grid;
  grid-template-columns: 2fr 10fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0;
  padding: 10px 0 15px 0;
}

.navigation button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation form {
  border: solid  rgb(120, 120, 120) 2px;
  border-radius: 25px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navigation input {
  border: none;
  width: 95%;
  font-size: 16px;
  padding-left: 10px;
}

.navigation input:focus {
  outline: none;
}

.navigation a {
  color: black;
}

.nologin {
  grid-template-columns: 2fr 18fr 1fr 1fr;
}

#logo a {
  color: rgb(88, 141, 255);
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  padding-right: 15px;
}

.fa-solid.fa-shop, .fa-regular.fa-heart, .fa-solid.fa-cart-shopping, .fa-user-circle{
  color: rgb(120, 120, 120);
  font-size: medium;
}
