@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Pacifico&display=swap');

.logged-in-profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px rgb(159, 157, 157) solid;
  background-color: white;
  margin-top: 5px;
  padding: 10px;
  gap: 5px;
  font-size: 16px;
  border-radius: 10px 10px;
  @media screen and (max-width: 480px) {
    padding: 5px;
    gap: 0;
    right: 5px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    padding: 5px;
    gap: 1px;
    right: 10px;
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    padding: 10px;
    gap: 3px;
    right: 15px;
  }
}

.not-log-in-profile {
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  border: 1px rgb(159, 157, 157) solid;
  background-color: white;
  width: 85px;
  margin-top: 5px;
  gap: 15px;
  font-size: 16px;
  border-radius: 10px 10px;
  @media screen and (max-width: 480px) {
    right: 5px;
    width: 80px;
    gap: 5px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    right: 10px;
    width: 80px;
    gap: 5px;
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    right: 11px;
    width: 80px;
    gap: 5px;
  }
}

.not-log-in-profile button {
  font-size: 16px;
}

.profile-dropdown .signout-button {
  padding-top: 10px;
  font-size: 16px;
  font-family: cursive;
}

.hidden {
  display: none;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-bottom: 5px;
  font-size: 14px;
  color: rgb(90, 89, 89);
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px rgb(222, 219, 219);
  width: 100%;
  height: 110px;
  top: 0;
  background-color: white;
}

.navigation {
  display: grid;
  grid-template-columns: 2fr 10fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0;
  padding: 10px 0 15px 0;
  @media screen and (max-width: 480px) {
    grid-template-columns: 2fr 10fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    grid-template-columns: 2fr 11fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    grid-template-columns: 2fr 12fr 1fr 1fr 1fr 1fr;
  }
  position: relative;
}

.navigation button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navigation form {
  border: solid  rgb(120, 120, 120) 2px;
  border-radius: 25px;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  @media screen and (max-width: 480px) {
    padding: 6px;
  }
}

.navigation input {
  border: none;
  width: 95%;
  font-size: 16px;
  padding-left: 10px;
}

.navigation input:focus {
  outline: none;
}

.navigation a {
  color: black;
}

.nologin {
  grid-template-columns: 2fr 18fr 1fr 1fr;
  @media screen and (max-width: 480px) {
    grid-template-columns: 2fr 10fr 1fr 1fr;
  }
}

#logo a {
  color: rgb(88, 141, 255);
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  padding-right: 15px;
}

.fa-solid.fa-shop, .fa-regular.fa-heart, .fa-solid.fa-cart-shopping, .fa-user-circle{
  color: rgb(120, 120, 120);
  font-size: medium;
}

.search-results {
  position: absolute;
  top: 100%;
  z-index: 3;
  /* width: 80%; */
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  padding: 0;
  margin-top: 5px;
  list-style: none;
}

.search-results li {
  padding: 10px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f5f5f5;
}
