
.image-carousel{
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    max-width: fit-content;
    max-height: fit-content;
}

.carousel .slider-wrapper {
    width: 100%;
}

.carousel .thumb {
    width: auto;
    height: auto;
    display: flex;

}

.carousel .slide img {
    height: 100%;
}

.carousel .carousel-status {
    display: none;
}

.carousel .control-dots {
    display: none;
}

.carousel {
    width: fit-content;
    height: fit-content;
}

.image-carousel .carousel .thumbs {
    transform: none !important;
    transition-duration: 0ms !important;
}

.carousel img {
    height: 4.5rem;
    width: auto;
}

