.delete-review-modal {
    gap: 20px;
}

.delete-review-modal h4 {
    color:rgb(226, 43, 95);
    align-items: center;
}

.delete-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

/* .delete-buttons button {
    width: 300px;
} */